
main {
  margin:6.5%;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

h2 {
  margin-top: 30px;
}

#calendar {
  margin-bottom: 30px;
}

form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="email"],
input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}